## docker-compose configuration file for nextcloud web cloud
## 
## name this file docker-compose.yml and edit the following values:
## 
## DatabaseRootPassword
## DatabaseUserPassword
## EtherpadAdministrationUser
## EtherpadAdministrationPassword
## your.nextcloud.domain
##
## see more configuration options here:
## https://hub.docker.com/r/webhippie/etherpad

version: '2'

services:
  etherpad-db:
    image: mariadb:10
    volumes:
      - ./mariadb:/var/lib/mysql
    environment:
      ##############################################
      ## Edit the following values                ##
      ##############################################
      - MYSQL_ROOT_PASSWORD=DatabaseRootPassword
      - MYSQL_PASSWORD=DatabaseUserPassword
      ##############################################
      - MYSQL_DATABASE=etherpad
      - MYSQL_USER=etherpad
    labels:
      - "traefik.enable=false"
    networks:
      - traefik_network

  etherpad:
    image: webhippie/etherpad
    environment:
      ##############################################
      ## Edit the following values                ##
      ##############################################
      - ETHERPAD_ADMIN_PASSWORD=EtherpadAdministrationPassword
      - ETHERPAD_ADMIN_NAME=EtherpadAdministrationUser
      ##############################################
      ## Copy the value from etherpad-db section  ##
      ##############################################
      - ETHERPAD_DB_PASSWORD=DatabaseUserPassword
      ##############################################
      - ETHERPAD_DB_HOST=etherpad-db
      - ETHERPAD_DB_USERNAME=etherpad
      - ETHERPAD_DB_DATABASE=etherpad
    depends_on:
      - etherpad-db
    volumes:
      - ./config:/opt/etherpad-lite/var
    labels:
      ##############################################
      ## Edit the following value                 ##
      ##############################################
      - "traefik.frontend.rule=Host:your.etherpad.domain"
      ##############################################
      - "traefik.port=9001"
      - "traefik.frontend.entryPoints=http,https"
    networks:
      - traefik_network
#    ports:
#      - 9001:9001


networks:
  traefik_network:
    external:
      name: traefik_default

